body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

#yesterday,
#tomorrow{
  display: inline-block;
  padding: 5px;
  margin: 2px;
  visibility: hidden;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}


.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}


.first-btn{
  width: 20%;
  border-style: solid;
  border: #ff6961;
  border-width: 2px;
}
.second-btn{
  width: 70%;
  border-style: solid;
  border: #ff6961;
  background-color: palegreen;
}

.second-btn-past{
  width: 70%;
  border-style: solid;
  border: rgb(219, 235, 216);
  background-color: rgb(219, 235, 216);
}
.third-btn{
  border-style: solid;
  width: 10%;
  border: #ff6961;
  border-width: 2px;
  background-color: limegreen;
}
.third-btn-past{
  border-style: solid;
  width: 10%;
  border: #ff6961;
  border-width: 2px;
  background-color: pink;

}
